[submodule "operating-system"]
	path = operating-system
	url = ../freebsd-operating-system
[submodule "source"]
	path = source
	url = ../main-source
	branch = main
[submodule "port"]
	path = port
	url = ../freebsd-port
	branch = main
[submodule "operating_system"]
	path = operating_system
	url = ../freebsd-operating_system
	branch = main
